<td data-name="title"></td>
<td data-name="content"></td>
<td><span class="navigate showPost">Show</span></td>
<td><span class="navigate editPost">Edit</span></td>
<td><span class="navigate destroyPost" >Destroy</a></td>
