<div class="field">
  <input type="hidden" name="id" data-type="number">
  <label> Title:
    <input type = "text" name='title' id="title" data-type="string">
  </label>
</div>
<div class="field">
  <label> Content:
    <input type="text" name='content' id="content" data-type="string">
  </label>
</div>
